**/__pycache__/
data_loader/__pycache__/
.build*/
.generated/
*.egg-info/
tmp/
tmp_max/
runs/
runs_max/
exp_res/
images/
.vscode/
**.idea/

!/data/
/data/*
results/
demo/
deprecated/

*.png
*.pdf

outputs/